<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<hr>
<p class="animated fadeIn fast">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum eum sed eaque quisquam deleniti mollitia fugiat illum ullam. Iusto aperiam aliquam quod dolore unde ratione alias nihil sed sapiente pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Laborum eum sed eaque quisquam deleniti mollitia fugiat illum ullam. Iusto aperiam aliquam quod dolore unde ratione alias nihil sed sapiente pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum eum sed eaque quisquam deleniti
    mollitia fugiat illum ullam. Iusto aperiam aliquam quod dolore unde ratione alias nihil sed sapiente pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum eum sed eaque quisquam deleniti mollitia fugiat illum ullam. Iusto aperiam
    aliquam quod dolore unde ratione alias nihil sed sapiente pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum eum sed eaque quisquam deleniti mollitia fugiat illum ullam. Iusto aperiam aliquam quod dolore unde ratione alias
    nihil sed sapiente pariatur?
</p>